<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Reporte de Ventas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="Titulo">Reporte de Ventas</h1>
        
        <div class="graficos">
            <h3 class="Subtitulo">Ventas por Ciudad</h3>
            <img src="{{ url_for('static', filename='grafico_barras.png') }}">
        </div>
    </div>
    <div class="container">
            
            <h3 class="Subtitulo">Top Productos</h3>
            <img src="{{ url_for('static', filename='grafico_torta.png') }}">
    </div>

        <hr>

        <h2>Listado de Datos Procesados</h2>
        <div class="tabla-simple">
            {{ tabla | safe }}
        </div>
    </div>
</body>
</html>